@page "/"
@inject IJSRuntime JsRuntime
@using BrowserInterop.Extensions
@using BrowserInterop.Geolocation

<h1>Hello, world!</h1>
<h3>Location</h3>
<button type="button" @onclick="GetLocation">Get Position</button>
@if (geolocationPosition != null) { 
    <div>
        Latitude : @geolocationPosition.Coords.Latitude
        Longitude : @geolocationPosition.Coords.Longitude
        Accuracy : @geolocationPosition.Coords.Accuracy
    </div>
}



@code
{
    private WindowNavigatorGeolocation geolocation;
    private GeolocationPosition geolocationPosition;

    protected override async Task OnInitializedAsync()
    {
        var window = await JsRuntime.Window();
        var navigator = await window.Navigator();
        geolocation = navigator.Geolocation;
    }

    public async Task GetLocation()
    {
        geolocationPosition = (await geolocation.GetCurrentPosition((new PositionOptions()
        {
            EnableHighAccuracy = true,
            MaximumAgeTimeSpan = TimeSpan.FromHours(1),
            TimeoutTimeSpan = TimeSpan.FromMinutes(1)
        }))).Location;
    }
}
